Options -MultiViews

RewriteEngine On
RewriteBase /

# Protection des données privées
RewriteRule ^\.data(?:/|$) - [F,L]

# Ne pas réécrire les vrais fichiers
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# SPA React
RewriteRule ^ index.html [L]